<div class="jumbotron py-3 header">
  <h1 class="display-4 text-center">Produtos</h1>
</div>

<div class="container-lista">

  <div>
    <a routerLink="/listas"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  </div>

  <br>
  
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadastro"><i class="fa fa-plus"
    aria-hidden="true"></i> Cadastar</button>

  <!-- Modal Cadastrar-->

  <div class="modal fade" id="modalCadastro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Loja</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="this.resetForm();"></button>
        </div>
        <div class="modal-body">
          <app-produtos-form></app-produtos-form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="lista">

      <div class="row pesquisa">
        <div class="col">
          <label>Pesquisar</label>
        <input class="form-control form-control-lg" placeholder="Nome" name="nome" #nome="ngModel"
          [(ngModel)]="produto.formData.nome" [class.invalid]="nome.invalid && nome.touched"
          (keyup)="listarPorNome(produto.formData.nome)">
        </div>
    
        <div class="col" *ngIf="user.userLogged.user.role === 'manager'">
          <label for="validationDefault04" class="form-label" >Cliente*</label>
          <select class="form-select" name="lojaID" id="validationDefault04"
              [class.invalid]="lojaID.invalid && lojaID.touched" #lojaID="ngModel"
              [(ngModel)]="produto.formData.clienteId" required  (change)="pesquisarPorLoja(produto.formData.clienteId)">
              <option value="00000000-0000-0000-0000-000000000000">Nenhum</option>
              <option *ngFor="let loja of loja.list" value={{loja.id}}>
                  {{loja.nome}}</option>
          </select>
        </div> 

        <div class="col">
          <label class="form-label" >Filtrar Por:</label>
          <select class="form-select" name="teste"          
              [(ngModel)]="numeroFiltro" (change)="pesquisarPorLoja(produto.formData.clienteId)">
              <option value="1">Nenhum</option>
              <option value="2">Sem estoque</option>
              <option value="3">Com estoque</option>
          </select>
        </div>
      </div>

      <div id="container-table ">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Nome</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Cliente Id</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let produto of produto.list | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
              <td [ngClass]="produto.quantidade == 0 ? 'bg-red' : 'bg-normal'" data-bs-toggle="modal" data-bs-target="#modalCadastro" (click)="populateForm(produto)">
                {{produto.nome}}
              </td>
              <td [ngClass]="produto.quantidade == 0 ? 'bg-red' : 'bg-normal'" data-bs-toggle="modal" data-bs-target="#modalCadastro" (click)="populateForm(produto)">
                {{produto.preco}}
              </td>
              <td [ngClass]="produto.quantidade == 0 ? 'bg-red' : 'bg-normal'"data-bs-toggle="modal" data-bs-target="#modalCadastro" (click)="populateForm(produto)">
                {{produto.quantidade}}</td>
              <td [ngClass]="produto.quantidade == 0 ? 'bg-red' : 'bg-normal'" data-bs-toggle="modal" data-bs-target="#modalCadastro" (click)="populateForm(produto)">
                {{produto.clienteId}}</td>
              <td [ngClass]="produto.quantidade == 0 ? 'bg-red' : 'bg-normal'">
                <button style="margin-right: 5px;" class="btn btn-primary" (click)="populateForm(produto)"
                  data-bs-toggle="modal" data-bs-target="#modalVenda" *ngIf="produto.quantidade > 0">Venda</button>
                <button style="margin-right: 5px;" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop" (click)="atribuirIdNome(produto.id, produto.nome)"><i
                    class="fas fa-trash-alt"></i></button>
                <button class="btn btn-primary" (click)="populateForm(produto)" data-bs-toggle="modal"
                  data-bs-target="#modalCadastro"><i class="fas fa-edit"></i></button>
              </td>
            </tr>
          </tbody>

          <tfoot>
            <tr *ngIf="produto.list.length == 0">
              <td colspan="8">
                <h4>Nenhum Produto Encontrado</h4>
              </td>
            </tr>
          </tfoot>

        </table>
      </div>
      <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
    </div>
  </div>

  <!-- Modal Vendas -->

  <div class="modal fade" id="modalVenda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Vendas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="this.resetForm();"></button>
        </div>
        <div class="modal-body">
          <app-form-venda-produtos></app-form-venda-produtos>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Excluir-->

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir o <b>{{nomeProduto}} </b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(idProduto)"
            data-bs-dismiss="modal">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>