
.lista {
    margin-top: 20px;
}

.pesquisa {
    margin-bottom: 10px;
}

.pesquisa input {
    width: 300px;
}

th {
    background-color: #212121;
    color: white;
}

div#container-table {
    overflow-x: auto;
}