.login {
    display: flex;
    height: 100vh;
}

.login form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-floating {
    width: 560px;
}