.menu {
  border: 1px solid green;
}

.container {
  padding: 0;
  height: 100vh;
  width: 95%;
}

.router {
  padding: 0px;
  width: 100%;
}

th {
  background-color: #212121;
  color: white;
}

/*
@media screen and (max-width: 1350px) {
  .col-md.app-container {
    margin-top: 50px;
    margin-left: initial;
    padding-top: 15px;
  }

  .col-md-3 {
    display: none;
  }

  .container-fluid {
    width: 100vw;
  }
}

@media screen and (min-width: 1000px) {}

*/
