.menu {
  color: white;
  border: 1px solid black;
}

.container-fluid {
  padding-left: 0;
}

@media screen and (max-width: 1350px) {
  .col-md.app-container {
    margin-top: 50px;
    margin-left: initial;
    padding-top: 15px;
  }

  .col-md-3 {
    display: none;
  }

  .container-fluid {
    width: 100vw;
  }
}

@media screen and (min-width: 1000px) {}


