.menu {
  border: 1px solid green;
}

.container {
  padding: 0;
  height: 100vh;
  width: 95%;
}

.router {
  padding: 0px;
  width: 100%;
}

th {
  background-color: #212121;
  color: white;
}


@media screen and (max-width: 1350px) {
  .menu {
    display: none;
  }

  .container {
    padding: 10px;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {}

