<div class="container-menu">
  <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary sidemenu" style="width: 4.5rem;">

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center sidemenu">
      <li class="nav-item">
        <a routerLink="/" class="nav-link py-3 border-bottom rounded-0" title="Dashboard" data-bs-toggle="tooltip"
          data-bs-placement="">
          <i class="fa fa-home" aria-hidden="true"></i>Home
        </a>
      </li>
    
      <li>
        <a routerLink="/listas"  class="nav-link py-3 border-bottom rounded-0" title="Dashboard" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <i class="fa fa-list" aria-hidden="true"></i>Listas
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a href="#"
        class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Sair</a></li>
      </ul>
    </div>
  </div>
</div>