<div class="area"></div>
<nav class="main-menu" style="position: fixed;">
  <ul>

    <li>
      <a routerLink="/">
        <i class="fa fa-tachometer fa-2x"></i>
        <span class="nav-text">
          Leve Mv
        </span>
      </a>

    </li>

    <hr style="color: white; background-color: white;">

    <li>
      <a routerLink="/listas">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Home
        </span>
      </a>

    </li>
    <li>
      <a href="#">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
          Lojas
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-globe fa-2x"></i>
        <span class="nav-text">
          Vendas
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-comments fa-2x"></i>
        <span class="nav-text">
          Group Hub Forums
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-camera-retro fa-2x"></i>
        <span class="nav-text">
          Survey Photos
        </span>
      </a>

    </li>
    <li>
      <a href="#">
        <i class="fa fa-film fa-2x"></i>
        <span class="nav-text">
          Surveying Tutorials
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-book fa-2x"></i>
        <span class="nav-text">
          Surveying Jobs
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cogs fa-2x"></i>
        <span class="nav-text">
          Tools & Resources
        </span>
      </a>
    </li>
    
    <li>
      <a href="#">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
          Historico de Vendas
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>